@model WebApplication3.BorrowedBook

@{
    ViewData["Title"] = "Удалить запись";
}

<h1>Удалить запись</h1>

<h3>Вы уверены, что хотите удалить выбранную запись?</h3>
<div>
    <h4>Взятые книги</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Returned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Returned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.BookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reader.ReaderId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BorrowId" />
        <input type="submit" value="Удалить запись" class="btn btn-danger" /> |
        <a asp-action="Index">Обратно к списку</a>
    </form>
</div>
