@model PaginationViewModel<BorrowedBook, BorrowedBookFilterViewModel, BorrowedBookSortViewModel>
@addTagHelper *, WebApplication3

@{
    ViewData["Title"] = "Список записей";
}

<h1>Список записей</h1>

<form method="get" class="mt-1">
    <label class="form-inline mt-1">Дата выдачи: </label>
    <input type="date" class="form-control" name="borrowDate" value="@Model.FilterViewModel.BorrowDate?.ToString("yyyy-MM-dd")" />

    <label class="form-inline mt-1">Срок возврата: </label>
    <input type="date" class="form-control" name="returnDate" value="@Model.FilterViewModel.ReturnDate?.ToString("yyyy-MM-dd")" />

    <label class="form-inline mt-1">Отметка о возврате: </label>
    <select class="form-control" name="returned" asp-items="new SelectList(new List<bool?>(){null, true, false})"></select>

    <label class="form-inline mt-1">Название книги: </label>
    <input type="text" class="form-control" name="bookTitle" value="@Model.FilterViewModel.BookTitle" />

    <label class="form-inline mt-1">Сотрудник: </label>
    <select class="form-control" name="employeeId" asp-items="Model.FilterViewModel.Employees"></select>

    <label class="form-inline mt-1">Читатель: </label>
    <select class="form-control" name="readerId" asp-items="Model.FilterViewModel.Readers"></select>

    <input type="hidden" name="filterOverdue" id="filterOverdueInput" value="false" />

    <button type="button" id="filterOverdueBtn" class="btn btn-warning mt-2">Просрочившие возврат</button>

    <input type="submit" value="Фильтр" class="btn btn-primary mt-2" />
</form>

<script>
    document.getElementById('filterOverdueBtn').addEventListener('click', function () {
        var filterOverdueInput = document.getElementById('filterOverdueInput');


        filterOverdueInput.value = (filterOverdueInput.value === 'true') ? 'false' : 'true';

        document.forms[0].submit();
    });
</script>

<p>
    <a asp-action="Create">Создать запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.BorrowDateSort)"
                   asp-route-borrowDate="@(Model.FilterViewModel.BorrowDate?.ToString("yyyy-MM-dd"))">
                    @Html.DisplayNameFor(model => model.Items.First().BorrowDate)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.ReturnDateSort)"
                   asp-route-returnDate="@(Model.FilterViewModel.ReturnDate?.ToString("yyyy-MM-dd"))">
                    @Html.DisplayNameFor(model => model.Items.First().ReturnDate)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.ReturnedSort)"
                   asp-route-returned="@(Model.FilterViewModel.Returned)">
                    @Html.DisplayNameFor(model => model.Items.First().Returned)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.BookTitleSort)"
                   asp-route-bookTitle="@(Model.FilterViewModel.BookTitle)">
                    @Html.DisplayNameFor(model => model.Items.First().Book.Title)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.EmployeeSort)"
                   asp-route-employeeId="@(Model.FilterViewModel.EmployeeId)">
                    @Html.DisplayNameFor(model => model.Items.First().EmployeeId)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.ReaderSort)"
                   asp-route-readerId="@(Model.FilterViewModel.ReaderId)">
                    @Html.DisplayNameFor(model => model.Items.First().ReaderId)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Returned)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reader.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BorrowId">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.BorrowId">Подробности</a> |
                    <a asp-action="Delete" asp-route-id="@item.BorrowId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-borrowDate="@(Model.FilterViewModel.BorrowDate?.ToString("yyyy-MM-dd"))"
           page-url-returnDate="@(Model.FilterViewModel.ReturnDate?.ToString("yyyy-MM-dd"))"
           page-url-returned="@(Model.FilterViewModel.Returned)"
           page-url-bookTitle="@(Model.FilterViewModel.BookTitle)"
           page-url-employeeId="@(Model.FilterViewModel.EmployeeId)"
           page-url-readerId="@(Model.FilterViewModel.ReaderId)"
           page-url-sortOrder="@(Model.SortViewModel.Current)"></page-link>

